
/* ----------------------------- Portfolio ------------------------------------ */
.grid,
.modul-list,
.portfolio-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  justify-items: center;
}

.portfolio-item {
  background: var(--white-color);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 220ms ease, box-shadow 220ms ease;
}

.modul-card-image {
  width: 100%;
  max-height: auto;
  object-fit: cover;
}

.modul-text-portfolio {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* ----------------------------- tablet------------------------------------ */

@media only screen and (min-width: 500px) {
    .modul-list,
  .portfolio-list {
    grid-template-columns: repeat(2, 1fr);
  }

    .modul-card, .portfolio-item {
    width: 100%;
    max-width: 350px;
    min-height: clamp(300px, 96%, 300px);
  }
}

/* ----------------------------- desktop ------------------------------------ */

