/* Global styles */
#root {
  background-color: #2f2f2fff;
}

.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*moduls*/

// for å unngå at modul-listen hopper opp under headeren når den blir sticky
.header-bg.normal + .modul-list {
  position: static;
}

.modul-list {
  position: absolute;
  top: 150px; /* Juster til høyden på headeren */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  justify-items: center;
  max-width: 600px;
}

.modul-card {
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  border-radius: 8px;
  min-height: 300px;
  width: clamp(350px, 96%, 380px);
  display: flex;
}

/************ unique modul styling *************/

/** card id 2 **/

.modul-card-education {
  color: #fff;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
  background-image: linear-gradient(260deg, #c472f3ff, #3e91cc, #2dcca7, #3e91cc, #2dcca7);
  background-size: 600% 100%;
  
  -webkit-animation: bg-pan-left 10s infinite both;
	        animation: bg-pan-left 10s infinite both;
}

@-webkit-keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


.modul-card-education .modul-text {
  text-align: center;
} 
.modul-card-education h3 {
  font-size: 2rem;
  font-weight: 600;
}

.modul-card-education p {
  font-size: 1rem;
  font-weight: 300;
}

.modul-card-image {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}
.modul-card-icon {
  width: 100px;
  height: 100px;
}



/** card id 3 **/
.modul-card-coding {
  background-color: #fff;
  color: #333;
  align-items: center;
  padding: 1rem;
}

.modul-card-coding h3 {
  font-size: 2.5rem;
  font-weight: 800;
}

.modul-card-coding h3::before {
  content: " "; 
  animation-name: titleChange;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@keyframes titleChange {

    0% {
        content: "React";
    }
    25% {
        content: "JavaScript";
    }
    50% {
        content: "MySQL";
    }

    75% {
        content: "CSS/Sass";
    }

    100% {
        content: "HTML";
    }
}

.modul-card-coding p {
  font-size: 1rem;
  font-weight: 300;
}

.modul-card-coding .modul-text {
  display: flex;
  flex-direction: column-reverse;
}


/** card id 4 **/

.modul-card-tools {
  background-color:  #2dcca7;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.modul-card-tools .modul-text {
  display: flex;
  flex-direction: column-reverse;
}

.modul-card-tools .modul-text h3 {
  font-size: 2rem;
  font-weight: 600;
}

.tools-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.tool-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tool-item svg {
  height: 2.5em;
  width: 2.5em;
  color: #fff;
}

/*** card id 5*/

.modul-card-experience {
  background-color: #f0a500ff;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-experience {
    text-align: center;
    width: 100%;
    height: 70%;
}

.work-item {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.work-item li {
    transform: translateX(0px);
    animation: fadeInOut 20s linear infinite;
    animation-fill-mode: forwards;
    opacity: 1;
}

/* Updated animation to make <li> elements stay in the center for 5 seconds */
@keyframes fadeInOut {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    10% {
        transform: translateX(50%);
        opacity: 0; /* Elementet kommer inn i midten */
    }
    25% {
        transform: translateX(0);
        opacity: 1; /* Elementet står stille i midten */
    }
    
    50% {
        transform: translateX(0);
        opacity: 1; /* Elementet står stille i midten */
    }
    75% {
        transform: translateX(0);
        opacity: 1; /* Elementet står stille i midten */
    }

    90% {
        transform: translateX(-50%);
        opacity: 0; /* Elementet begynner å forsvinne */
    }
 
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

/*** card id 6*/

.modul-card-interests {
  background-color: #fff;
  color: #333;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*** card id 7*/

.modul-card-findme {
  background-color: #333;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* --- Karusell-spesifikk styling for alle skjermstørrelser --- */
.modul-card-portfolio {
  grid-column: 1;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  min-height: 300px;
  width: clamp(350px, 96%, 380px);

  display: none;
}

.slider-info {
  position: absolute;
 top: 0;
  left: 0;
  font-size: 0.8rem;
  color: #2a2a2aff;
  padding: 0.5rem 1rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.slider-content {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.slider-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right:0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0;
  z-index: 100;
}

.slider-controls button {
  background: rgba(23, 23, 23, 0.8);
  color: white;
  border: none;
  border-radius: 2px;
 /*  width: 40px;
  height: 100%; */
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  visibility: hidden;
}

/* ------- Video of projects ------- */

.slider-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transform: scale(1.05);
}

.slider-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* -------------Indication dots ------------------ */

.slider-indicators {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
  z-index: 10;
}

.indicator-dot {
  width: 10px;
  height: 10px;
  background: #ffffff80;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator-dot.active {
    background-color: #fff; 
  }

/* ----------------------------------------------------------------- */


/*tablet */
@media only screen and (min-width: 500px) {
  .modul-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    width: clamp(500px, 96%, 100vw);
    gap: 1rem;
    padding: 0;
  }

  .modul-card {
    width: clamp(200px, 96%, 350px);
    min-height: 300px;
  }

  .modul-card-portfolio, .modul-card-experience {
    grid-column: 1 / 3;
    width: clamp(600px, 96%, 100vw);
    max-height: 300px;
  }

   .modul-card-tools {
    grid-column: 1 / 3;
    width: clamp(600px, 96%, 100vw);
  }

  .slider-controls button {
    visibility: visible;
  }
}



/* desktop */
@media only screen and (min-width: 900px) {
  .modul-list {
    grid-template-columns: repeat(3, 1fr);
    width: clamp(900px, 96%, 100vw);
    max-width: 1200px;
  }

  .modul-card:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  }

  .modul-card-portfolio {
    grid-column: 1 / 4;
    width: clamp(900px, 96%, 100vw);
    min-height: 400px;
    max-height: 500px;
  }

  .modul-card {
    width: clamp(300px, 96%, 100vw);
    height: auto;
    margin-top:1rem;
  }

  .modul-card-education {
    grid-column: 1;
    grid-row: 2;
  }

  .modul-card-coding {
    grid-column: 2;
    grid-row: 2;
  }
  
  .modul-card-tools {
    grid-column: 3;
    grid-row: 2;
  }

  .modul-card-experience {
    grid-column: 1;
    grid-row: 3;
  }

  .modul-card-interests {
    grid-column: 2;
    grid-row: 3;
  }

  .modul-card-findme {
    grid-column: 3;
    grid-row: 3;
  }

  .indicator-dot:hover {
      background-color: #fff;
  }
}