

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

/**/

.cv-container {
 max-width: 1200px;
  width: 100%;
    margin: 0 auto;  
  /*   display: flex;
  flex-direction: column;
  align-items: center; */
}

.layout {
  width: 100%;
    display: flex;
  flex-direction: column;
  align-items: center;
}


/*moduls*/
.modul-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;

  padding: 2rem 0;
}

.modul-card {
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  border-radius: 8px;
  min-width: 200px;
  text-align: center;
  color: #333;
}






/* desktop */
@media (min-width: 600px) {
  .modul-list {
    max-width: 1000px; 
    grid-template-columns: repeat(3, 1fr);
  }
}